<ion-toolbar class="card-search shadow-bottom" *ngIf="showSearch" [ngClass]="{'border-card-filter': showFilters}"
  @ngIfSlideInRight @ngIfSlideOutRight @ngIfScaleIn @ngIfScaleOut>
  <div class="input-search-top">

    <ion-searchbar [formControl]="ctrl" [showCancelButton]="showCancelButton" [cancelButtonText]="cancelButtonText"
      [animated]="animated" [debounce]="debounce" [placeholder]="placeholder" (ionCancel)="clickCancel(ngContent)">
    </ion-searchbar>

    <ion-buttons slot="start" *ngIf="ngContent.childNodes.length > 0">
      <ion-button (click)="setShowFilters(ngContent)" class="z-index-49">
        <ion-icon slot="icon-only" name="arrow-dropdown" [ngClass]="{rotate180deg: showFilters}">
        </ion-icon>
      </ion-button>
      <ion-badge  *ngIf="fieldsFilled > 0" color="danger" class="badge-button-header-search z-index-50"
        @ngIfScaleIn @ngIfScaleOut>{{fieldsFilled}}</ion-badge>
    </ion-buttons>

  </div>
  <div padding class="container-card-filter z-index-47" [hidden]="!showFilters" #ngContent>
    <ng-content ></ng-content>
  </div>
</ion-toolbar>
<div class="z-index-20 back-close-card" *ngIf="showFilters" (click)="setShowFilters(ngContent)"></div>