.card-search{
    // padding-top: var(--ion-safe-area-top,0);
    position: absolute;
    top: 0%;
    margin: 0 !important;
    // padding: 0em !important;
    border-radius: 0em;
    width: 100%;
    background-color: #fff;
    z-index: 900;
    .input-search-top{
        display: flex;
        align-items: center;
    }
    .button-native {
        -webkit-padding-start: 0em !important;
        padding-inline-start: 0em !important;
        -webkit-padding-end: 0em !important;
        padding-inline-end: 0em !important;
    }
    &.border-card-filter{
        border-radius: 0em 0em 1.2em 1.2em;
    }
    .badge-button-header-search{
        position: absolute;
        top: -0.35em;
        font-size: 0.85em;
        left: 1.4em;
        padding: 0.2em 0.5em !important;
    }
}
.back-close-card{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
