<div class="bg-content">

  <ion-item no-padding class="z-index-12"
    [ngClass]="{'select-fill': ctrl && ctrl.value || placeholder, 'selected': ctrl && ctrl.value}">
    <!-- <ion-label *ngIf="icon">
      </ion-label> -->
    <!-- <ion-icon slot="start" [name]="icon"></ion-icon>  -->
    <ion-label position="floating" *ngIf="label">{{label | translate}}</ion-label>
    <ion-icon class="icon-input" name="calendar" slot="start"></ion-icon>
    <ion-datetime [formControl]="ctrl" [displayFormat]="_format" [min]="min" [max]="max"
      [placeholder]="_placeholder" [doneText]="_doneText" [cancelText]="_cancelText" [dayNames]="_dayNames"
      [dayShortNames]="_dayShortNames" [monthNames]="_monthNames" [monthShortNames]="_monthShortNames" color="primary">
    </ion-datetime>
  </ion-item>

  <ion-progress-bar class="input-progress" type="indeterminate" *ngIf="ctrl.status == 'PENDING'" @ngIfSlideInTop
    @ngIfFadeIn>
  </ion-progress-bar>

  <div class="messages-input z-index-11">
    <ion-text color="danger" slot="start" class="message-input"
      *ngIf="ctrl && ctrl.touched && ctrl.hasError('msgError')" @ngIfSlideInTop @ngIfFadeIn>
      {{ctrl.getError("msgError")}}
    </ion-text>

    <ion-text color="success" slot="start" class="message-input" *ngIf="ctrl.status == 'VALID'" @ngIfSlideInTop
      @ngIfFadeIn>
      <ng-content></ng-content>
    </ion-text>
  </div>
</div>