<ion-card>
  <ion-card-header *ngIf="title || subTitle">
    <ion-card-title *ngIf="title">{{title | translate}}</ion-card-title>
    <ion-card-subtitle *ngIf="title">{{subTitle || translate}}</ion-card-subtitle>
  </ion-card-header>
  
  <img *ngIf="image" [src]="image"/>

  <ion-card-content>
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>