<div class="bg-content">
  <ion-item no-padding class="z-index-12">
    
    <ion-label position="floating" *ngIf="label">{{label | translate}}</ion-label>
    <!-- <ion-icon [name]="icon" slot="end"></ion-icon> -->
    <ion-icon *ngIf="icon" class="icon-input" [name]="icon" slot="start"></ion-icon>
    <ion-input *ngIf="!_mask" [formControl]="ctrl" [color]="color" [inputmode]="inputmode" [maxlength]="maxlength"
      [minlength]="minlength" [debounce]="debounce" [placeholder]="_placeholder"></ion-input>
    <ion-input *ngIf="_mask" [formControl]="ctrl" [color]="color" [inputmode]="inputmode" [maxlength]="maxlength"
      [minlength]="minlength" [debounce]="debounce" [mask]="_mask" [placeholder]="_placeholder"></ion-input>
  
  </ion-item>
  
  <ion-progress-bar class="input-progress" type="indeterminate" *ngIf="ctrl.status == 'PENDING'" @ngIfSlideInTop  @ngIfFadeIn>
  </ion-progress-bar>
  
  <div class="messages-input z-index-11">
    <ion-text color="danger" slot="start" class="message-input" *ngIf="ctrl && ctrl.touched && ctrl.hasError('msgError')"
      @ngIfSlideInTop  @ngIfFadeIn>
      {{ctrl.getError("msgError")}}
    </ion-text>
  
    <ion-text color="success" slot="start" class="message-input" *ngIf="ctrl && ctrl.touched && ctrl.status == 'VALID'"
     @ngIfSlideInTop @ngIfFadeIn>
      <ng-content></ng-content>
    </ion-text>
  
    <ion-text slot="end" class="hint-input animate" *ngIf="ctrl && maxlength">
      <span>{{ctrl.value.length}}</span>
      <span> / </span>
      <span>{{maxlength}}</span>
    </ion-text>
  </div>
</div>