<ion-item lines="none" no-padding class="z-index-12">
  <ion-label position="floating">{{label}}</ion-label>
  <ion-textarea ngClass="{{uppercase ? 'ion-text-uppercase' : 'ion-text-lowercase'}}" *ngIf="uppercase || lowercase" [disabled] ="disabled" [maxlength]="length" [readonly]="readonly" [rows]="rows" [cols]="cols" [value]="value" [formControl]="ctrl" [placeholder]="_placeholder"></ion-textarea>
  <ion-textarea *ngIf="capitalizecase" class="ion-text-capitalize" [disabled] ="disabled" [maxlength]="length" [readonly]="readonly" [rows]="rows" [cols]="cols" [value]="value" [formControl]="ctrl" [placeholder]="_placeholder"></ion-textarea>
  <ion-textarea *ngIf="!uppercase && !lowercase && !capitalizecase" [disabled] ="disabled" [maxlength]="length" [readonly]="readonly" [rows]="rows" [cols]="cols" [value]="value" [formControl]="ctrl" [placeholder]="_placeholder"></ion-textarea>
</ion-item>
<div class="messages-input z-index-12">
  <ion-text color="danger" slot="start" class="message-input" *ngIf="ctrl && ctrl.touched && ctrl.hasError('msgError')"
    @ngIfSlideInTop @ngIfFadeIn>
    {{ctrl.getError("msgError")}}
  </ion-text>
</div>