<div class="bg-content">

  <ion-item no-padding class="z-index-12" [ngClass]="{'select-fill': ctrl && ctrl.value}">
    <ion-label position="floating" *ngIf="label">{{label | translate}}</ion-label>

    <ion-select [formControl]="ctrl" #selectElement [multiple]="multiple" [cancelText]="_cancelText" [okText]="_okText"
      [placeholder]="_placeholder" (ionChange)="change($event)">
    
      <ion-select-option [value]="item[key]" *ngFor="let item of list">{{item[field] | translate}}</ion-select-option>
    
      <ng-content></ng-content>
    </ion-select>

  </ion-item>

  <ion-progress-bar class="input-progress" type="indeterminate" *ngIf="ctrl.status == 'PENDING'" 
    @ngIfSlideInTop  @ngIfFadeIn>
  </ion-progress-bar>

  <div class="messages-input z-index-11">
    <ion-text color="danger" slot="start" class="message-input"
      *ngIf="ctrl && ctrl.hasError('msgError')" @ngIfSlideInTop  @ngIfFadeIn>
      {{ctrl.getError("msgError")}}
    </ion-text>
  </div>
</div>