<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4" no-padding>
        <h3>{{"LOGIN_PAGE" | translate}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button (click)="login()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{"ENTER" | translate}}
  </ion-button>
  <ion-button (click)="logout()">
    <ion-icon slot="start" name="add"></ion-icon>
    {{"EXIT" | translate}}
  </ion-button>
</ion-content>