<ion-app>
  <ion-split-pane contentId="mainContent" when="xl">
    <ion-menu side="start" menuId="mainMenu" contentId="mainContent">
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>{{"MENU" | translate}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content padding>
        <ion-list>
          <span *ngFor="let link of links">
            <!-- Com Grupo -->
            <ion-item-group *ngIf="link.group">
              <ion-item-divider>
                <ion-label>{{link.group}}</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let l of link.links" [routerLink]="l.router" color="{{l.selected ? 'tertiary' : ''}}">
                <ion-icon *ngIf="l.icon" [name]="l.icon" slot="start"></ion-icon>
                <ion-label>{{l.name}}</ion-label>
              </ion-item>
            </ion-item-group>
            <!-- Sem Grupo -->
            <ion-item *ngIf="!link.menu && link.router" [routerLink]="link.router"
              color="{{link.selected ? 'tertiary' : ''}}">
              <ion-icon *ngIf="link.icon" [name]="link.icon" slot="start"></ion-icon>
              {{link.name}}
            </ion-item>
          </span>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="mainContent" (activate)='routerActived($event)'></ion-router-outlet>
  </ion-split-pane>
</ion-app>