<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="showHeaderSearch = !showHeaderSearch">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Aluno
    </ion-title>
  </ion-toolbar>
  <m-header-search [show]="showHeaderSearch" (onClose)="showHeaderSearch = $event">
    <m-input label="Pesquisa"></m-input>
  </m-header-search>
</ion-header>

<ion-content>
  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Dados do Aluno</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Nome Completo" placeholder="Informe o nome completo do aluno"></m-input>
        </ion-col>
        <ion-col size="6" size-sm="6">
          <m-input label="CPF" setMask="CPF" placeholder="Informe o CPF"></m-input>
        </ion-col>
        <ion-col size="6" size-sm="6">
          <m-date-time icon="calendar" label="Nascimento" placeholder="Nascimento do aluno"></m-date-time>
        </ion-col>
        <ion-col size="6" size-sm="6">
          <m-input label="Celular" setMask="CEL_PHONE"></m-input>
        </ion-col>
        <ion-col size="6" size-sm="6">
          <m-checkbox label="WhatsApp"></m-checkbox>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Residencial" setMask="PHONE"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-select [list]="[
          {id: 1, description: 'A+'},
          {id: 2, description: 'A-'},
          {id: 3, description: 'B+'},
          {id: 4, description: 'B-'},
          {id: 5, description: 'AB+'},
          {id: 6, description: 'AB-'},
          {id: 7, description: 'O+'},
          {id: 8, description: 'O-'}
          ]"></m-select>
          </ion-col>
      </ion-row>
    </ion-grid>
    </m-card>
    <m-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1>Mãe</h1>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <m-input label="Nome" placeholder="Informe o nome completo da mãe do aluno"></m-input>
          </ion-col>
          <ion-col size="12" size-sm="6">
              <m-input label="CPF" setMask="CPF" placeholder="Informe o CPF"></m-input>
          </ion-col>
          <ion-col size="6" size-sm="6">
            <m-input label="Celular" setMask="CEL_PHONE"></m-input>
          </ion-col>
          <ion-col size="6" size-sm="6">
              <m-toggle label="WhatsApp" position="right"></m-toggle>
            </ion-col>
          <ion-col size="12" size-sm="6">
            <m-date-time icon="calendar" label="Data Nascimento" placeholder="Informe a data de nascimento da mãe do aluno"></m-date-time>
          </ion-col>
        </ion-row>
      </ion-grid>
    </m-card>
    <m-card>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <h1>Pai</h1>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <m-input label="Nome" placeholder="Informe o nome completo do pai do aluno"></m-input>
            </ion-col>
            <ion-col size="12" size-sm="6">
                <m-input label="CPF" setMask="CPF" placeholder="Informe o CPF"></m-input>
            </ion-col>
            <ion-col size="6" size-sm="6">
              <m-input label="Celular" setMask="CEL_PHONE"></m-input>
            </ion-col>
            <ion-col size="6" size-sm="6">
                <m-toggle label="WhatsApp" position="right"></m-toggle>
              </ion-col>
            <ion-col size="12" size-sm="6">
              <m-date-time icon="calendar" label="Data Nascimento" placeholder="Informe a data de nascimento do pai aluno"></m-date-time>
            </ion-col>
          </ion-row>
        </ion-grid>
      </m-card>
</ion-content>
<m-footer></m-footer>