.drag-drop-container{
    h2{
        margin-bottom: 0.4em;
    }
    .drag-drop-content{
        border: #EBEBEB solid 0.1em;
        overflow: auto;
        padding: 0.1em 0.5em;
        .drag-drop-list{
            overflow: auto;
            margin: -0.2em 0.2em;
            .drag-drop-item{
                cursor: pointer;
                display: flex;
                // color: rgba(0, 0, 0, 0.54);
                border-radius: 4px;
                margin: 0.2em 0em;
                padding: 1em 2em;
                &:nth-child(odd){
                    background-color: #F9F9F9;
                }
            }
        }
    }
}
.drag-drop-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-icon{
        font-size: 2.2em;
    }
    .back{
        margin-top: 1em;
    }
    .back-all{
        margin-top: 2em;
    }
    ion-button{
        --overflow: visible;
        ion-badge{
            position: absolute;
            top: -0.6em;
            font-size: 0.85em;
            right: -0.6em;
            padding: 0.2em 0.5em !important;
            z-index: 100 !important;
        }
    }
}

.cdk-drag-preview {
    // display: block;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    padding: 1em 2em;
    border-radius: 4px;
    color: var(--ion-color-primary);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    // opacity: 0;
    color: #EBEBEB !important;
    border: dashed 0.2em var(--ion-color-secondary);
    background-color: transparent !important;
}

.cdk-drag-animating {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .drag-drop-buttons{
        flex-direction: row;
        justify-content: space-around;
        ion-icon{
            transform: rotate(90deg);
            font-size: 1.8em;
        }
    }
    .back, .back-all{
        margin: 0em !important;
    }
}