<ion-grid>
    <ion-row class="drag-drop-container">

        <ion-col size="12" size-md="5">
            <h2>{{titleSource | translate}}</h2>
            <div class="drag-drop-content shadow-bottom" [style.height]="height">
                <div cdkDropList #drop1="cdkDropList" [cdkDropListData]="list" [cdkDropListConnectedTo]="[drop2]"
                    class="drag-drop-list" (cdkDropListDropped)="drop($event)" [style.min-height]="height">
                    <div class="drag-drop-item truncate" *ngFor="let item of list" cdkDrag (click)="selectItemList(item);"
                        [ngClass]="{'tertiary': item.selected}">{{item[field]}}
                    </div>
                </div>
            </div>
            <div class="messages-input z-index-11">
                <ion-text slot="end" class="hint-input animate" *ngIf="ctrl">
                    <span>{{ list ? list.length : 0}}</span>
                </ion-text>
            </div>
        </ion-col>

        <ion-col class="drag-drop-buttons" size="12" size-md="2">
            <div class="back">
                <ion-button (click)="backItem()" [disabled]="countListTargetSelected() <= 0" color="primary" size="small">
                    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
                    <ion-badge *ngIf="countListTargetSelected() > 0" color="tertiary"
                            @ngIfScaleOut @ngIfScaleIn>
                        {{countListTargetSelected()}}</ion-badge>
                </ion-button>
            </div>
            <div class="forward">
                <ion-button (click)="forwardItem()" [disabled]="countListSelected() <= 0" size="small">
                    <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                    <ion-badge *ngIf="countListSelected() > 0" color="tertiary"
                            @ngIfScaleOut @ngIfScaleIn>
                        {{countListSelected()}}</ion-badge>
                </ion-button>
            </div>
            <div class="back-all">
                <ion-button (click)="forwardItem()" (click)="backAllItem()"
                    [disabled]="!listTarget || listTarget.length <= 0" size="small">
                    <ion-icon slot="icon-only" name="rewind"></ion-icon>
                </ion-button>
            </div>
            <div class="forward-all">
                <ion-button (click)="forwardItem()" (click)="forwardAllItem()" [disabled]="!list || list.length <= 0"
                    size="small">
                    <ion-icon slot="icon-only" name="fastforward"></ion-icon>
                </ion-button>
            </div>
        </ion-col>

        <ion-col size="12" size-md="5">
            <h2>{{titleTarget | translate}}</h2>
            <div class="drag-drop-content shadow-bottom" [style.height]="height">
                <div cdkDropList #drop2="cdkDropList" [cdkDropListData]="listTarget" [cdkDropListConnectedTo]="[drop1]"
                    class="drag-drop-list" (cdkDropListDropped)="drop($event)" [style.min-height]="height">
                    <div class="drag-drop-item truncate" *ngFor="let item of listTarget" cdkDrag
                        (click)="selectItemListTarget(item);" [ngClass]="{'tertiary': item.selected}">{{item[field]}}
                    </div>
                </div>
            </div>

            <div class="messages-input z-index-11">
                <ion-text slot="end" class="hint-input animate" *ngIf="ctrl">
                    <span>{{ctrl && ctrl.value ? ctrl.value.length : 0}}</span>
                </ion-text>
            </div>

        </ion-col>

        <ion-col size="12">
            <div class="messages-input z-index-11">
                <ion-text color="danger" slot="start" class="message-input" *ngIf="ctrl && ctrl.hasError('msgError')"
                    @ngIfSlideInTop @ngIfFadeIn>
                    {{ctrl.getError("msgError")}}
                </ion-text>
            </div>
            <ion-input type="text" [formControl]="ctrl" [ngStyle]="{'opacity': '0', 'position': 'absolute'}">
            </ion-input>
        </ion-col>
    </ion-row>
</ion-grid>