<ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Inicio</ion-label>
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="facebook">
      <ion-label>Facebook</ion-label>
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="instagram">
      <ion-label>Instagram</ion-label>
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-tab-button>
  <ion-tab-button tab="youtube">
      <ion-label>Youtube</ion-label>
      <ion-icon name="logo-youtube"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>