<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{"HOME" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/dashboard">
    <ion-icon slot="start" name="home"></ion-icon>
    {{"DASHBOARD" | translate}}
  </ion-button>
  <ion-button routerLink="/company">
    <ion-icon slot="start" name="home"></ion-icon>
    {{"COMPANY" | translate}}
  </ion-button>
  <ion-button routerLink="/register">
    <ion-icon slot="start" name="list"></ion-icon>
    {{"REGISTER" | translate}}
  </ion-button>
</ion-content>
<m-footer></m-footer>