<ion-content>
  <h1>{{"PAGE_NOT_FOUND" | translate}}</h1>
  <ion-button routerLink="/home">
    <ion-icon slot="start" name="home"></ion-icon>
    {{"HOME" | translate}}
  </ion-button>
</ion-content>