<ion-radio-group [formControl]="ctrl">
<div class="m-radios" [style.width]="width">
  <ion-item *ngFor="let item of list" lines="none" no-padding>
    <ion-radio  class="" [value]="item.id" [color]="color" [disabled]="disabled"></ion-radio>
    <ion-label>{{item.description}}</ion-label>
  </ion-item>
</div>  
</ion-radio-group>
<div class="messages-input z-index-11">
  <ion-text color="danger" slot="start" class="message-input" *ngIf="ctrl && ctrl.touched && ctrl.hasError('msgError')"
    @ngIfSlideInTop @ngIfFadeIn>
    {{ctrl.getError("msgError")}}
  </ion-text>
</div>