<div class="m-table-container shadow-bottom mat-table animate">
  <table mat-table matSort  [dataSource]="data && data.list || list" class="m-table" 
    [ngClass]="{'striped': striped}" [style.height]="height">

    <!-- Create Columns -->
    <ng-container [matColumnDef]="column.field" *ngFor="let column of listColumns;index as index;last as last"
      [sticky]="column.fixed" [stickyEnd]="column.fixed && last">
     
      <th mat-header-cell *matHeaderCellDef [ngStyle]="{'right': '-0.1em'}" class="color-primary"
        [ngClass]="{'shadow-right-light': _isScrollTable && column.fixed && !last , 'shadow-left-light': _isScrollTable && column.fixed && last }"
        [mat-sort-header]="column.field" [disabled]="!data || !data.page || data.limit || !column.sort">
        {{column.label | translate}}
      </th>

      <td mat-cell *matCellDef="let item" [ngStyle]="{'right': '-0.1em'}"
        [ngClass]="{'shadow-right-light': _isScrollTable && column.fixed && !last , 'shadow-left-light': _isScrollTable && column.fixed && last }">
        {{getValueField(item, column)}} 
      </td>
    </ng-container>

    <!-- Info Headers -->
    <tr [hidden]="!existHeaders()" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let item; columns: displayedColumns;" (click)="selected && clickRow(item);" 
      [ngClass]="{'tertiary': item.selected, 'click': selected}"></tr>
    
  </table>
  <mat-paginator *ngIf="data && data.page && data.limit" color="primary" [length]="(data && data.qtdTotal) || (list && list.length)"
                [pageSize]="data && data.limit"
                [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>