.m-table-container{
    width: 100%;
    overflow-x: auto;
    padding: 0em !important;
    margin: 0em !important;
    .m-table{
        width: 100%;
        .mat-cell, .mat-header-cell{
            padding: 0em 1em !important;
            &:first-child{padding-left: 1.5em !important}
            &:last-child{padding-right: 1.5em !important}
        }
        &.striped{
            .mat-cell, .mat-header-cell{
                border-color: rgba(#EBEBEB, 0.5);
            }
            .mat-row:nth-child(odd){
                background-color: #F9F9F9;
            }
        }
        .border-white{
            border-top-color: #fff;
            border-bottom-color: #fff;
        }
    }
}