<ion-item lines="none" no-padding *ngIf="position && position === 'right'">
  <ion-toggle [color]="color" [disabled]="disabled" [(ngModel)]="model"></ion-toggle>
  <ion-label [color]="color">{{label | translate}}</ion-label>
</ion-item>

<ion-item lines="none" no-padding *ngIf="position && position === 'left'">
  <ion-label [color]="color">{{label | translate}}</ion-label>
  <ion-toggle [color]="color" [disabled]="disabled" [(ngModel)]="model"></ion-toggle>
</ion-item>