// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
// @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab&display=swap');

body{
	& * {
		font-family: 'Roboto Slab', serif !important;	
	}
	// font-family: 'Dosis', sans-serif !important;
	// --ion-font-family: 'Roboto', sans-serif !important;
	--ion-font-family: 'Roboto Slab', serif !important;
}

.primary{
	background-color: var(--ion-color-primary) !important;
	color:  var(--ion-color-primary-contrast) !important;
	& *{
		color:  var(--ion-color-primary-contrast);
	}
}
.secondary{
	background-color: var(--ion-color-secondary) !important;
	& *{
		color:  var(--ion-color-secondary-contrast) ;
	}
}
.tertiary{
	background-color: var(--ion-color-tertiary) !important;
	color:  var(--ion-color-tertiary-contrast) !important;
	& * {
		color:  var(--ion-color-tertiary-contrast) ;
	}
	
}
.color-primary{
	color: var(--ion-color-primary) !important;
}
.color-secondary{
	color: var(--ion-color-secondary) !important;
}
.color-tertiary{
	color: var(--ion-color-tertiary) !important;
}

::-webkit-scrollbar {
	width: 0.5em ;
	height: 0.5em ;
	background-color: #fff;
}
::-webkit-scrollbar-thumb {background-color: rgba(#ddd, 0.4) !important;}
::-webkit-scrollbar-thumb:hover { background-color: rgba(0, 0, 0, 0.6) !important;}
::-webkit-scrollbar-track { background-color: #F5F5F5 !important;}
.scroll-up + .example-toolbar { margin-top: -3.5em !important;}
.scroll-up .side-slide-container{ top: -0em !important;}

ion-content{
	--background: var(--ion-color-light);
	& *{
		--placeholder-color: var(--ion-color-step-550,#737373) !important;
	}
}
//****************************** Barra de Scroll ************

// Animações
$sleep-fast: 300ms; $sleep: 500ms; $sleep-slow: 1s; $sleep-more-slow: 1.5s; $sleep-very-slow: 2.5s;

@mixin animate($time){
    -webkit-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
 }

 @mixin rotate($rotate){
	-webkit-transform: rotate($rotate);
	-moz-transform: rotate($rotate);
	-ms-transform: rotate($rotate);
	-o-transform: rotate($rotate);
	transform: rotate($rotate);
}

.animate-fast{@include animate($sleep-fast)} .animate{@include animate($sleep)} .animate-slow{@include animate($sleep-slow)}
.animate-more-slow{@include animate($sleep-more-slow)} .animate-very-slow{@include animate($sleep-very-slow)}

.rotate90deg{@include rotate(90deg);} .rotate180deg{@include rotate(180deg);} .rotate270deg{@include rotate(270deg);} .rotate360deg{@include rotate(360deg);}

@for $i from 10 through 100 {
	.z-index-#{$i} {
		z-index: $i;
	}
}
 /* ------------------------------------------- Shadows */
 /* -------- Bottom */
 @mixin shadow-bottom(){
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
}
/* -------- right */
@mixin shadow-right-light(){
    box-shadow: 0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), 0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), 0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
    -moz-box-shadow: 0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), 0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), 0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
    -webkit-box-shadow: 0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), 0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), 0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
}
/* -------- Left */
@mixin shadow-left-light(){
    box-shadow: -0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), -0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), -0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
    -moz-box-shadow: -0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), -0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), -0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
    -webkit-box-shadow: -0.1em 0em 0em 0em rgba(0, 0, 0, 0.05), -0.2em 0em 0em 0em rgba(0, 0, 0, 0.03), -0.3em 0em 0em 0em rgba(0, 0, 0, 0.01) !important;
}
.shadow-bottom{
    @include shadow-bottom();
}
.shadow-left-light{
    @include shadow-left-light();
}
.shadow-right-light{
    @include shadow-right-light();
}
// ------------------------------------------- Ajustes no Ionic 
// ## Datetime ##
ion-datetime, ion-select{
	padding-bottom: 0.46em !important;
    padding-top: 0.86em !important;
	// &.ion-valid.ion-touched{
		// 	color: var(--ion-color-primary);
		// }
	}
	
	// ## Messages de Inputs ## 
	m-input, m-date-time{
		ion-icon{
			max-width: 1em !important;
			margin-right: 0.5em !important;
			margin-top: 1.1em !important;
		}
	}
	.messages-input{
		display: flex;
		justify-content: flex-end;
		padding: 0.2em 0.2em 0.8em 0em;
		position: relative;
		min-height: 2.2em;
		margin-bottom: -1.2em;
		.message-input{
			font-size: 0.8em;
			width: 100%;
		}
		
		.hint-input{
			font-size: 0.7em;
			padding-left: 0.3em;
			text-align: right;
			display: flex;
		}
	}
	.input-progress{
		position: absolute;
	}
	// ## Card ##
	ion-card {
		--background:#fff !important;
		ion-card{
			margin: 0em !important;
		}
	}
	

	// ## Radio ##
	ion-radio{
		margin: 0 1em 0 0em !important;
	}

	// ## CheckBox ##
	.item-checkbox{
		padding-top: 1em;
		ion-checkbox{
			margin: 0 1em 0 0em !important;
		}
	}

	.item-label-floating.sc-ion-textarea-md-h, .item-label-floating .sc-ion-textarea-md-h, .item-label-stacked.sc-ion-textarea-md-h, .item-label-stacked .sc-ion-textarea-md-h {
		--padding-top: 0px;
	}
	// ------------------------------------------- Ajustes Geral
	
	.click{
		cursor: pointer;
	}
	
	@media (min-width: 1600px) {
		ion-card{
			margin: 2em 2.5em !important;
		}
	}
	@media (min-width: 920px) and (max-width: 1599px) {
		ion-card{
			margin: 1.5em 2em !important;
		}
	}
	@media (min-width: 780px) and (max-width: 919px) {
		ion-card{
			margin: 1.3em 1.8em !important;
		}
	}
	@media (min-width: 480px) and (max-width: 779px) {
		ion-card{
			margin: 1em 1.5em !important;
		}
	}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-primary);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}

ion-toggle{
	padding-left: 0px;
	padding-right: 1em;
}
