<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="showHeaderSearch = !showHeaderSearch">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{"DASHBOARD" | translate}}
    </ion-title>
  </ion-toolbar>
  <m-header-search [show]="showHeaderSearch" (onClose)="showHeaderSearch = $event">
    <m-input label="Pesquisa"></m-input>
  </m-header-search>
</ion-header>

<ion-content>
  <m-card>
    <h1>Teste de cores</h1>
    <div class="primary" style="width: 300px; padding: 1em 2em;">
      <h1>Primeira</h1>
    </div>
    <div class="secondary" style="width: 300px; padding: 1em 2em;">
      <h1>Segunda</h1>
    </div>
    <div class="tertiary" style="width: 300px; padding: 1em 2em;">
      <h1>Terceira</h1>
    </div>
  </m-card>
  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Button</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input [ctrl]="email" placeholder="Informações de cadastro">
            Toggle Erro
          </m-input>
          <m-button icon="logo-facebook" label="teste" iconposition="left" round="square" uppercase="true"></m-button>
          <m-button icon="logo-instagram" label="Teste" iconposition="right" round="default" lowercase="true"></m-button>
          <m-button icon="logo-youtube" label="teste" iconposition="right" round="circle"></m-button>
          <m-button label="teste"></m-button>
          <m-button icon="logo-facebook"></m-button>
          <m-toggle label="Toggle Teste Left zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" position="left"></m-toggle>
          <m-toggle label="Toggle Teste Left zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" position="left"></m-toggle>
          <m-toggle label="Toggle Teste Left zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" position="left"></m-toggle>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-toggle label="Toggle Teste Right zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" disabled="false" position="right"></m-toggle>
          <m-toggle label="Toggle Teste Left zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" position="left"></m-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    </m-card>
  <m-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1>Toggle</h1>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <m-input [ctrl]="email" placeholder="Informações de cadastro">
              Toggle Erro
            </m-input>
            <m-toggle label="Toggle Teste Right" disabled="false" position="left"></m-toggle>
            <m-toggle label="Toggle Teste Right zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" disabled="false" position="right"></m-toggle>            
          </ion-col>
          <ion-col size="12" size-sm="6">
            <m-toggle label="Toggle Teste Right zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" disabled="false" position="right"></m-toggle>
            <m-toggle label="Toggle Teste Left zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz" position="left"></m-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </m-card>
  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Float Button</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
            <m-input [ctrl]="email" placeholder="Informações de cadastro">
              Float button Erro
            </m-input>
        </ion-col>  
        <ion-col size="12" size-sm="6">
              <ion-fab vertical="bottom" horizontal="start">
                <m-float-button icon="arrow-dropup" size="larger"></m-float-button>
                <ion-fab-list side="top">
                  <m-float-button icon="home" size="small" show="true" color="secondary" label="Casa"></m-float-button>
                  <m-float-button icon="add" size="small" label="Adicionar"></m-float-button>
                  <m-float-button icon="mail" size="small" color="tertiary" ></m-float-button>
                  <m-float-button icon="arrow-dropleft" size="small"></m-float-button>
                </ion-fab-list>
              </ion-fab>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-float-button icon="home" size="larger"></m-float-button>
      </ion-col>
    </ion-row>
    </ion-grid>
  </m-card>
  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>TextArea</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input [ctrl]="email" label="Teste" placeholder="Informações de cadastro">
            TextArea Erro
          </m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-text-area [ctrl]="textarea" label="Text area" placeholder="Informações de cadastro" capitalizecase="true"></m-text-area>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>
  <m-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" no-padding>
          <h1>Tabela</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <m-table [list]="dataTable" striped="true" selected="true" multiple="true">
            <m-column label="N°" field="position" sort="true"></m-column>
            <m-column label="Código" field="code"></m-column>
            <m-column label="Nome" field="name" fixed="true"></m-column>
            <m-column label="Entrada" field="input" isDate="true "></m-column>
            <m-column label="Peso" field="weight" isNumber="true" numberDigits="1.3-3"></m-column>
            <m-column label="Valor" field="value" isCurrency="true" numberDigits="1.2-2"
              currencySymbol="CURRENCY_SYMBOL"></m-column>
          </m-table>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" no-padding>
          <h1>Drag and Drop</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <m-drag-drop [list]="cityList" field="name" multiple="true"></m-drag-drop>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12">
          <h1>Checkbox</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input [ctrl]="email">
            Checkbox Erro
          </m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-checkbox label="Checkbox 1" [ctrl]="checkbox"></m-checkbox>
          <m-checkbox label="Checkbox 2"></m-checkbox>
          <m-checkbox label="Checkbox 3"></m-checkbox>
          <m-checkbox label="Checkbox 4"></m-checkbox>
          <m-checkbox label="Checkbox 5"></m-checkbox>
          <m-checkbox label="Checkbox 6" disabled="true"></m-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Radio</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input [ctrl]="email">
            Radio Erro
          </m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-radio [ctrl]="radio" [list]="[
            {id: 1, description: 'Radio 1'},
            {id: 2, description: 'Radio 2'},
            {id: 3, description: 'Radio 3'},
            {id: 4, description: 'Radio 4'},
            {id: 5, description: 'Radio 5'},
            {id: 6, description: 'Radio 6'}]">
          </m-radio>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" no-padding>
          <h1>Card</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <m-card title="Título do Card" subTitle="Sub-Título do Card"
            image="https://3.bp.blogspot.com/-o4LX7XLLx7Q/XIEEjFFdaJI/AAAAAAAAGyQ/snOiZKyEWZ8saX_fCQCAtY5CobdkB5l3gCEwYBhgL/s640/4K%2BLandscape%2BWallpaper%2B4.jpg">
            <p>
              Deus é a fonte eterna do meu provimento e atende permanentemente a todas as minhas necessidades.
            </p>
          </m-card>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <m-card title="Título do Card" subTitle="Sub-Título do Card"
            image="https://3.bp.blogspot.com/-o4LX7XLLx7Q/XIEEjFFdaJI/AAAAAAAAGyQ/snOiZKyEWZ8saX_fCQCAtY5CobdkB5l3gCEwYBhgL/s640/4K%2BLandscape%2BWallpaper%2B4.jpg">
            <p>
              Deus é a fonte eterna do meu provimento e atende permanentemente a todas as minhas necessidades.
            </p>
          </m-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12">
          <h1>Inputs</h1>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Email" [ctrl]="email">
            Email disponível!
          </m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Nome"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Nome"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Nome"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Nome"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6" size-lg="4">
          <m-input label="Nome" icon="calendar"></m-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Date Time</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Nome" icon="calendar"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-date-time icon="calendar" label="Data Nascimento"></m-date-time>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Nome" icon="calendar"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-date-time icon="" label="Data Nascimento"></m-date-time>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Nome" icon="" placeholder="Nome"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-date-time icon="" label="Data Nascimento" placeholder="DD/MM/AAAA"></m-date-time>
        </ion-col>
      </ion-row>
    </ion-grid>
  </m-card>

  <m-card>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h1>Select</h1>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Teste Select"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-select [list]="[
          {id: 1, description: 'Select 1'},
          {id: 2, description: 'Select 2'},
          {id: 3, description: 'Select 3'},
          {id: 4, description: 'Select 4'},
          {id: 5, description: 'Select 5'},
          {id: 6, description: 'Select 6'}
          ]"></m-select>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-input label="Teste Select"></m-input>
        </ion-col>
        <ion-col size="12" size-sm="6">
          <m-select [list]="[
          {id: 1, description: 'Select 1'},
          {id: 2, description: 'Select 2'},
          {id: 3, description: 'Select 3'},
          {id: 4, description: 'Select 4'},
          {id: 5, description: 'Select 5'},
          {id: 6, description: 'Select 6'}
          ]" multiple="true" label="Tipo Sanguíneo"></m-select>
        </ion-col>

      </ion-row>
    </ion-grid>
  </m-card>
</ion-content>
<m-footer></m-footer>