<ion-button [disabled]="disabled" [size]="size" [color]="color" [expand]="expand" [type]="type">
    <ion-icon *ngIf="icon && label && iconposition && iconposition === 'left'" slot="start" [name]="icon"></ion-icon>
    <ion-icon *ngIf="icon && label && iconposition && iconposition === 'right'" slot="end" [name]="icon"></ion-icon>
    <ion-icon *ngIf="icon && label && !iconposition" slot="start" [name]="icon"></ion-icon>
    <ion-icon *ngIf="icon && !label" slot="icon-only" [name]="icon"></ion-icon>
    <span ngClass="{{uppercase ? 'ion-text-uppercase': 'ion-text-lowercase'}}" *ngIf="label && (uppercase || lowercase)">{{label | translate}}</span>
    <span *ngIf="label && (!uppercase && !lowercase)" class="ion-text-capitalize">{{label | translate}}</span>
</ion-button>