<ion-item lines="none" no-padding class="item-checkbox">
  <ion-checkbox [disabled]="disabled" [color]="color" [formControl]="ctrl"></ion-checkbox>
  <ion-label>{{label}}</ion-label>
</ion-item>
<div class="messages-input z-index-11">
  <ion-text color="danger" slot="start" class="message-input" *ngIf="ctrl && ctrl.touched && ctrl.hasError('msgError')"
    @ngIfSlideInTop @ngIfFadeIn>
    {{ctrl.getError("msgError")}}
  </ion-text>
</div>